* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  -webkit-box-shadow: 0 0 10px #b6b6b6;
          box-shadow: 0 0 10px #b6b6b6;
  padding-bottom: 5px;
  margin-bottom: 70px;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
}

.nav__logo .nav__logo_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-right: 280px;
}

.nav__logo .nav__logo_social .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo .nav__logo_social .social__item p {
  color: gray;
  margin-left: 4px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: -7px;
}

.nav__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.nav__follow .follow__circle {
  width: 85px;
  height: 85px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.nav__follow .nav__title h1 {
  margin-bottom: 5px;
}

.nav__follow .nav__title p {
  margin-bottom: 5px;
  color: gray;
}

.nav__follow .nav__title p span {
  color: black;
  margin-right: 5px;
}

.nav__follow .nav__title a {
  background-color: black;
  color: cornsilk;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__follow .nav__title a svg {
  fill: cornsilk;
  margin-left: 5px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
}

.menu .burger__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .burger__block .x-burger {
  position: absolute;
  display: none;
}

.dropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__menu ul li {
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
}

.dropdown__menu ul li span {
  color: white;
  background-color: gray;
  padding: 5px;
  border-radius: 13px;
  font-size: 0.7rem;
}

.dropdown__menu ul li:hover {
  color: gray;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__block {
  background-color: cornsilk;
  width: 100%;
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__block .main__text {
  max-width: 470px;
  height: 100%;
  background-color: black;
  color: white;
  padding: 49px;
}

.hero__block .main__text .blog__name {
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__block .main__text h1 {
  text-transform: capitalize;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}

.hero__block .main__text .border {
  height: 2px;
  background-color: white;
  width: 90px;
  margin-bottom: 40px;
}

.hero__block .main__text .text__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 110px;
}

.hero__block .main__text .text__wrap .avatar {
  width: 25px;
  height: 25px;
}

.hero__block .main__text .text__wrap .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.hero__block .description {
  margin-bottom: 25px;
  line-height: 30px;
}

.hero__block .social__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.hero__block .social__btn a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #2a2a2a;
}

.hero__block .social__btn .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.hero__block .social__btn .social__item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.hero__block .social__btn .social__item .item svg {
  fill: white;
}

.hero__block .social__btn .social__item .item p {
  color: #6f6e6e;
}

.main__image {
  background-color: #b6b6b6;
  width: 830px;
  height: 100%;
}

.main__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  margin-bottom: 50px;
}

.blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  width: 855px;
  height: 305px;
}

.blog__wrapper .pic {
  width: 406px;
  height: 100%;
}

.blog__wrapper .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__wrapper .blog__title {
  width: 480px;
  height: 100%;
  padding: 45px;
}

.blog__wrapper .blog__title .title {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  margin-top: -27px;
  color: gray;
}

.blog__wrapper .blog__title h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.blog__wrapper .blog__title .text {
  line-height: 30px;
}

.text__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  gap: 6px;
  font-weight: 500;
}

.text__wrap .avatar {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.text__wrap .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.social__btn a {
  padding: 10px;
  color: black;
  text-decoration: none;
  background-color: #d9d9d9;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
}

.social__btn .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.social__btn .social__item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.social__btn .social__item .item p {
  color: gray;
}

.blog__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aside__card_wrap {
  width: 320px;
  height: 480px;
  background-color: black;
}

.aside__card_wrap .card__image {
  width: 100%;
  height: 240px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.aside__card_wrap .card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__text {
  color: white;
  padding: 25px;
}

.card__text .card__top_title {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 15px;
}

.card__text h1 {
  text-transform: capitalize;
  line-height: 30px;
  margin-bottom: 15px;
}

.card__text .border {
  height: 2px;
  width: 40px;
  background-color: white;
}

.text__wrap_aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
  gap: 9px;
  font-weight: 500;
  width: 100%;
  margin-top: 30px;
}

.text__wrap_aside .avatar {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.text__wrap_aside .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bottom__follow h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 45px;
}

.bottom__follow .circle__porter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.bottom__follow .circle__porter .circle {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.5rem;
}

.bottom__follow .circle__porter .text__name .black {
  font-weight: 700;
}

.bottom__follow .circle__porter .text__name .gray {
  color: gray;
  text-transform: uppercase;
}

.posts__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.posts__number p {
  font-weight: 700;
}

.posts__number p span {
  color: gray;
  font-weight: 400;
}

.bottom__images {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.bottom__images .images__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7px;
}

.bottom__images .images__wrap .image__item {
  width: 155px;
  height: 155px;
}

.bottom__images .images__wrap .image__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom__images a {
  width: 100%;
  height: 35px;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: black;
  margin-top: 20px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */